body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    color: #fff;
}
.full-background{
    background: url(../img/photo_2023-04-10_20-39-07.jpg);
    background-size: cover;
}
.background-sections{
    background: url(../img/photo_2023-04-10_20-39-07.jpg);
    background-size: cover;
    min-height: 1300px;
}
.header{
    min-height: 170px;
}
.block-header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    gap: 350px;
 
}
.block-for-images{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 16px;
}
.block-for-buttons{
    display: flex;
    align-items: center;
    gap: 125px; 
    margin-top: 16px;   
}
.button, .button-2{
    color: #fff;
    text-decoration: none;
}
.button-2{
    color: gray;
}
.container-line{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -15px;
}
.line-1{
    margin-top: 17px;
    margin-bottom: 19px;
}
.block-button-book-an-appointment{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 320px;
    min-height: 50px;
    background: linear-gradient(90deg, #000000 22.9%, #111111 78.35%);
    border: 1px solid #222222;
    border-radius: 47px;
    margin-top: 556px;
    margin-left: 955px;
}
.button-book-an-appointment{
    text-decoration: none;
    color: #DCDCDC;
    font-size: 18px;
}
.section-1{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    background: url(../img/Rectangle\ 9.png) center center no-repeat;
    background-size: cover;
    min-height: 900px;
}
.container-section-1{
    margin-top: -50px;
}
.block-section-1{
    
}
.pargraph-section-1{
    max-width: 1200px;
    max-height: 308px;
    font-size: 35px;
    line-height: 43px;
    color: #A09595;
}
.block-paragraph-section-1{
    
}
.section-2{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    background: url(../img/Rectangle\ 10.png) center center no-repeat;
    background-size: cover;
    min-height: 900px;
}
.container-section-2{

}
.block-section-2{

}
.paragraph-section-2{
    max-width: 1200px;
    max-height: 308px;
    font-size: 35px;
    line-height: 43px;
    color: #A09595;
}
.section-3{

}
.container-section-3{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    background: url(../img/Rectangle\ 11.png) center center no-repeat;
    background-size: cover;
    min-height: 900px;
}
.block-section-3{

}
.paragraph-section-3{
    max-width: 1200px;
    max-height: 308px;
    font-size: 35px;
    line-height: 43px;
    color: #A09595;
}
.footer{
    background: linear-gradient(90.71deg, #161616 0.48%, #000000 125.94%, #303030 125.96%);
}
.block-logo-footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 120px;
}
.logo-footer{
    margin-top: 77px;
    margin-left: 20px;
}
.block-payment-method-footer{
    display: flex;
    align-items: center;
    gap: 68px;
    margin-left: 120px;
    margin-top: 248px;
}
.full-us-contact-footer{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 120px;
    margin-top: 248px;
}
.us-contact-footer-1, .us-contact-footer-2{
    display: flex;
    align-items: center;
    gap: 10px;
}
.us-contact-footer-1{
    text-decoration: none;
    color: #fff;
    margin-bottom: 25px;
}
.number-phone-footer, .email-footer{
    text-decoration: none;
    color: #fff;
}
.credits-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -55px;
}